@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", serif;
}

.base {
    margin-top:100px;
    display: flex;
    justify-content: space-between
}

.info_img{
    width: 750px;
}

.div_me{
  padding:50px;
}

.div_me p{
    font-size:25px;
}

.titulo{
    padding-bottom:30px;
    font-size:40px;
    color:red;
}

#exp_sec{
    margin-top:100px;

}

#exp_sec h2{
    text-align:center;
}

.exp_dis {
    padding-top:100px;
    padding-right: 75px;
    padding-left: 75px;
    display: flex;
    justify-content: space-between;
}